.sidebars
{
	border-radius: 1px;
	color:white;
	background-color: #1a1a1a;
*/	background-size: cover;
	background-position: center;

	height: 50em;
	
	/*margin-left: -20px;
*/
}
.list-group-item{
	background-color: transparent;
	color: white;
}
a 
{
	text-decoration: none;
}
.workplace
{
	border-radius: 5px;
	color:  #262626;
	height: 50em;
}
body ,html
{
	height: 100%;
	background-color: white;
	font-size: 104%;

}
.clr{
	background-color: transparent;
	color: white;
	border: 2px solid white;	
}
.clr:hover
{
	background-color:#f2f2f2;
	color: black;
	transition-duration: 1s;
}

.heading
{
	background-color: black;
	background-image: url(image/hero1.png) ;
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:  white;

	height: 90%;
		
	background-size: cover;
	position: relative;
	overflow: hidden;
	z-index: 0;

}
.heading-text {
	top:20%;
	font-family: 'Sigmar-one', cursive;
	left: 15%;
	position: absolute;
	color: white;

	text-shadow: 1px 1px black;
		border-left: 4px solid white;
		border-bottom: 4px solid white;
		
		border-radius: 10px;
		padding: 5px;

}
.menu1
{

	color: white;
	padding: 10px;
	/*margin-left: -15px;
	*/

	position: relative;
	overflow: hidden;
	z-index: 1;
	bottom: 100%;
	 


}
.menu1 li a{
	color: white;
	font-size: 104%;
}

.home1{
	color: white;

}
.menu1 span:hover{
	color: #0f0f3d;
	
}


.menu1 li a:hover{
	opacity:1;
	color: black;
	background-color: white;
	
	transition-duration:  1s;
}
.contents
{
	background-color: #484848;
color: white;
}
#myNavbar li:hover
{
background-color: black;
color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


button:hover, a:hover {
    opacity: 0.7;
}
.btn-default:hover
{
background-color: black;
color: white;
transition-duration: 2s;
}